*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-family: Muller;
  font-size: 16px;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.bgImg {
  background-image: url(img/window1Bg.png);

}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.wrapper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 0 0 33px 0; */
  padding-top: 33px;
}

.logo {
  position: relative;
  z-index: 100;
  width: 210px;
  height: auto;
}

.slogan {
  width: 137px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.menu-nav {}

.menu-nav a {
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 20px 0px 20px 20px;
  transition: all .5s linear;
}

.menu-nav a:hover {
  color: white;
  background: linear-gradient(180deg, #69B7FF 0%, #0C7FEA 100%);
  box-shadow: 5px 5px 15px rgba(57, 154, 244, 0.47);

}


.telephone {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  line-height: 18px;
}

.telephone a {
  font-size: 14px;
  font-weight: 700;
}

.telephone p {
  font-size: 12px;
}

.btnMobile,
.btn {
  width: 129px;
  height: 40px;
  padding: 11px 15px;
  font-size: 0.9375rem;
  color: white;
  font-weight: 500;
  background: linear-gradient(180deg, #69B7FF 0%, #0C7FEA 100%);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-family: ‘Muller’;

}

.btnMobile,
.btn:hover {
  filter: drop-shadow(0px 4px 10px rgba(39, 143, 240, 0.8));
}

.main-window {
  height: calc(100vh - 87px);

}

.wrapper-main-window {
  background-image: url(img/window1Img.png);
  background-position: right -5px bottom 0%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;

}

.wrapper-main-window .container {

  /* background-image: url(img/window1ImgM.png);
  background-position: top   right;
  background-repeat: no-repeat;
  background-size: contain;
  height: 80%;
  position: relative;               
  top: 50%;                         
  transform: translate(0, -50%) */
  /* margin-bottom: 500px; */

}

.main-window-text {
  position: absolute;
  top: 59%;
  transform: translate(0, -50%);
  /* background-image: url(img/window1ImgM.png);
  background-position: top   right;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%; */
  display: flex;
  flex-direction: column;

}

.main-window-text h1 {
  /* margin-top: 10px; */
  width: 43%;
  font-size: 48px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
}

.main-window-text p {
  font-size: 48px;
  width: 47%;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
}

.main-window-text span {
  width: 47%;

  font-weight: 400;
  font-size: 16px;
  font-family: 'Muller';
  line-height: 38px;
  margin-bottom: 15px;
}

.price {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  text-align: center;
  color: #FFFFFF;
  width: 265px;
  height: 67px;
  background: linear-gradient(180deg, #69B7FF 0%, #0C7FEA 100%);
  /* Button eff */
  box-shadow: 5px 5px 15px rgba(57, 154, 244, 0.47);
  border-radius: 35px 0px 35px 35px;
  margin: 11px 0;
}

.btnCall {
  position: relative;
  /* box-sizing: content-box; */
  width: 392px;
  height: 78px;
  background: linear-gradient(180deg, #69B7FF 0%, #0C7FEA 100%);
  border-radius: 32.5px 0px 32.5px 32.5px;
  display: flex;
  align-items: center;
  transition: all .3s ease;
  border-bottom: #0B65B7 5px solid;

}

.btnCall:hover {
  transition: all .5s ease;
  border-bottom: #0B65B7 0px solid;
  box-shadow: 5px 5px 30px rgba(57, 154, 244, 0.8);
}



/* .btnCall::before {
  position: absolute;
  box-sizing: content-box;
  content: '';
  width: 392px;
  height: 78px;
  background: rgba(0, 0, 0, 0);
  border-radius: 32.5px 0px 32.5px 32.5px;
  border-bottom: #0B65B7 5px solid;
  transition: all .5s ease;

}

.btnCall:hover::before {
  border-bottom: #ffffff00 5px solid;
  transition: all .5s ease;

}

.btnCall:hover {

  transition: all .3s ease;


  background: linear-gradient(181.58deg, #69B7FF 1.35%, #0B65B7 107.99%);
  box-shadow: 5px 5px 25px rgba(57, 154, 244, 0.8);
  border-bottom: none;
}

.btnCall:hover img {
} */

.btnCall p {
  margin-top: 6px;
  color: white;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  width: 100%;
}

.btnCall img {
  margin-left: -1px;
  border-radius: 32.5px 0px 32.5px 32.5px;
  margin-right: 10px;
  margin-bottom: -5px;

}



.main-window-img {
  width: 55%;
}

.main-window-img img {
  width: 100%;
}

.advantages {
  background: linear-gradient(180deg, #69B7FF 0%, #0C7FEA 100%);
}

.wrapper-advantages {}

.wrapper-advantages h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  color: white;
  padding-top: 94px;
  margin-bottom: 42px;
}

.wrapper-advantages-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;

}

.advantages__item {
  position: relative;
  height: 148px;
  width: 100%;
  margin-bottom: 117px;

}

.advantages__icon {
  position: absolute;
  top: 50%;
  left: -6px;
  transform: translate(0, -50%);
  height: 116px;
  width: 116px;
  background: #FFFFFF;
  box-shadow: 0px 3.32623px 29.936px rgba(0, 0, 0, 0.25);
  border-radius: 16.6311px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantages__text {
  background: linear-gradient(180deg, #FFFFFF 0%, #E4E4E4 100%);
  box-shadow: 10px 10px 25px rgba(255, 255, 255, 0.2);
  border-radius: 100px 0px 100px 100px;
  width: 95%;
  height: 148px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 15px;
}

.advantages__text p {
  font-size: 16px;
  width: 60%;
}

.advantages__text p:nth-child(1) {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
}

.list-services {
  background-image: url(img/bgservices.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bgitem1 {
  z-index: 1;
  width: 100%;
  position: absolute;
  height: 32%;
  background-image: url(img/servicesBg1.png);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 75px;
}

.bgitem2 {
  z-index: 1;
  width: 100%;
  position: absolute;
  height: 23%;
  background-image: url(img/servicesBg2.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0;
  right: 0;
  /* margin-top: 75px; */
}

.list-services .container {
  padding-top: 111px;
  padding-bottom: 140px;
  position: relative;
  z-index: 2;
}

.wrapper-list-services h2 {
  /* pa-top: 111px; */
  margin-bottom: 10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 49px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}

.wrapper-list-services p {
  margin-bottom: 20px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;

  /* Bl */

  color: #000000;
}

.wrapper-list-services-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 47px;
}

.services-item {
  width: 100%;
  height: 277px;
  background: rgb(255, 255, 255);
  box-shadow: 4.19713px 10.0731px 55.4021px rgba(0, 0, 0, 0.1);
  border-radius: 16.7885px;
}

.services-item::before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 3.5px;
  background: linear-gradient(180deg, #69B7FF 0%, #0C7FEA 100%);
  border-radius: 0px 0px 41.9713px 41.9713px;
}

.wrapper-services-item {
  width: 100%;
  height: 100%;
  border-radius: 16.7885px 0px 16.7885px 16.7885px;
  padding-top: 26px;
}

.wrapper-services-item p {
  padding: 0 33px;
  height: 30%;
  display: flex;
  align-items: flex-start;
  /* justify-content: center; */
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: left;

  color: #000000;
}

.background-item {
  position: relative;
  height: 60%;
  width: 100%;
  /* background-image: url(img/services1.png); */
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16.7885px 0px 16.7885px 16.7885px;
}

.services-item:nth-child(1) .background-item {
  background-image: url(img/services1.png);
}

.services-item:nth-child(2) .background-item {
  background-image: url(img/services2.png);
}

.services-item:nth-child(3) .background-item {
  background-image: url(img/services3.png);
}

.services-item:nth-child(4) .background-item {
  background-image: url(img/services4.png);
}

.services-item:nth-child(5) .background-item {
  background-image: url(img/services5.png);
}

.services-item:nth-child(6) .background-item {
  background-image: url(img/services6.png);
}

.services-item:nth-child(7) .background-item {
  background-image: url(img/services7.png);
}

.services-item:nth-child(8) .background-item {
  background-image: url(img/services8.png);
}


.background-item::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 16.7885px 0px 16.7885px 16.7885px;

  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 19.35%, #000000 100%);

}

.services__btn {
  position: relative;
  /* box-sizing: content-box; */
  font-family: 'Muller';
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16.7885px;
  /* line-height: 50px; */
  /* text-align: center; */
  margin: -28px auto 0 auto;
  color: #FFFFFF;
  background: linear-gradient(180deg, #69B7FF 0%, #0C7FEA 100%);
  border-radius: 27.2814px 0px 27.2814px 27.2814px;
  width: 80%;
  height: 50px;
  box-shadow: 4.19713px 4.19713px 12.5914px rgba(57, 154, 244, 0.2);
  border-bottom: #0B65B7 5px solid;

  transition: all .3s ease;

}

.services__btn:hover {
  transition: all .3s ease;
  border-bottom: #0B65B7 0px solid;

  background: linear-gradient(181.58deg, #69B7FF 1.35%, #0B65B7 107.99%);
  box-shadow: 5px 5px 30px rgba(57, 154, 244, 0.8);
  /* border-radius: 32.5px 0px 32.5px 32.5px; */
}

/* .services__btn::before {
  top: -1px;
  left: 0;
  position: absolute;
  box-sizing: content-box;
  content: '';
  background: rgba(255, 255, 255, 0);
  border-radius: 27.2814px 0px 27.2814px 27.2814px;
  width: 100%;
  height: 50px;
  border-bottom: #0B65B7 5px solid;
  transition: all .5s ease;
}

.services__btn:hover::before {
  border-bottom: #ffffff00 5px solid;
  transition: all .5s ease;
} */

.bgwoman {
  background-image: url(img/womenCallMe.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 2;
  width: 80%;
  height: 96%;
  bottom: 0;
  left: 0;
}

.callMe {
  position: relative;
  background-image: url(img/bgCallMe.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
}

.callMe .container {
  position: initial;
  padding-bottom: 235px;
  padding-top: 130px;
  display: flex;
  justify-content: flex-end;

}

.wrapper-callMe {
  background: white;
  width: 50%;
  box-shadow: 0px 24.9468px 59.0408px rgba(0, 0, 0, 0.15);
  border-radius: 16.6312px;
  padding: 35px;
  display: flex;
  flex-direction: column;
}

.wrapper-callMe h2 {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 9px;
}

.wrapper-callMe p {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: normal;
  text-align: center;
  margin-bottom: 26px;
}

.wrapper-callMe p:nth-child(6) {
  margin-top: 12px;
}

.sity-item {
  width: 100%;
  display: flex;
  /* background: grey; */
  justify-content: space-between;
  margin-bottom: 20px;
}

.sity-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 87px;
  background: linear-gradient(180deg, #69B7FF 0%, #0C7FEA 100%);
  border-radius: 20px 0px 20px 20px;
  position: relative;
  z-index: 10;
}

.sity-item a:hover {
  box-shadow: 5px 5px 30px rgba(57, 154, 244, 0.8);
}

.sity-item a:nth-child(1) {
  width: 87px;
  ;
}

.sity-item a:nth-child(2) {
  width: 80%;
}

.icon {}

.sity {}

.sity-name {
  width: 100%;
  display: flex;
  padding: 0 31px;
  justify-content: space-between;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;

  /* Wh */

  color: #FFFFFF;

}

.sity-name p {
  margin-bottom: 0;

}

.orderwork {
  position: relative;
  background-image: url(img/orderworkbg.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
}

.orderwork .container {
  padding-bottom: 122px;
  position: relative;
  z-index: 2;
}

.wrapper-orderWork h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  padding-top: 122px;
  padding-bottom: 43px;
}

.wrapper-orderWork-items {}

.orderWork-item {
  display: flex;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 5px 5px 42px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  height: 110px;
  width: 100%;
  margin-bottom: 23px;
}

.ordeWorkNumber {
  width: 110px;
  height: 110px;
  left: 262px;
  top: 283px;

  /* Blue GR */

  background: linear-gradient(180deg, #69B7FF 0%, #0C7FEA 100%);
  border-radius: 20px 0px 20px 20px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 110px;
  text-align: center;

  color: #FFFFFF;
  margin-right: 38px;
}

.orderWortTitle {
  margin: auto 0;
  width: 85%;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.orderWork-item:nth-child(1) .orderWortTitle {
  width: 65%;
}

.application {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 229px;
  height: 61px;
  background: linear-gradient(180deg, #69B7FF 0%, #0C7FEA 100%);
  border-radius: 32.5px 0px 32.5px 32.5px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  border-bottom: #0B65B7 5px solid;
  transition: all .5s ease;
}

.application:hover {
  transition: all .5s ease;
  border-bottom: #0B65B7 0px solid;
  box-shadow: 5px 5px 30px rgba(57, 154, 244, 0.8);
}

.orderwork1img {
  z-index: 1;
  width: 100%;
  position: absolute;
  height: 30%;
  background-image: url(img/orderwork1img.png);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
  /* margin-top: 75px; */
}

.orderwork2img {
  z-index: 1;
  width: 100%;
  position: absolute;
  height: 23%;
  background-image: url(img/orderwork2img.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0;
  right: 0;
}

.oCompanii {
  /* height: 100vh; */
  background: linear-gradient(180deg, #3F3F3F 0%, #1F1F1F 100%);
  position: relative;
  overflow: hidden;

}

.oCompanii .container::before {
  content: '';
  width: 905px;
  height: 905px;
  background: #ffffff;
  border: 1px solid #000000;
  filter: blur(150px);
  position: absolute;
  z-index: -1;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.oCompanii .container {
  z-index: 1;
  position: relative;
}

.oCompanii-column-left {
  color: white;
  width: 50%;
  padding-bottom: 110px;
}

.oCompanii-column-left h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 49px;
  padding-top: 110px;
  margin-bottom: 33px;
}

.oCompanii-column-left p {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  text-align: justify;
  margin-bottom: 15px;
}

.oCompanii-column-left p:nth-child(5) {
  margin-bottom: 0px;
}

.oCompanii-column-right {
  width: 50%;
}

.image-oCompanii {
  background-image: url(img/oCompanii.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
  width: 100%;
  position: absolute;
  height: 100%;
  bottom: 0;
  right: -200px;
}

.vertical-text {
  color: white;
  position: absolute;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 46px;
  line-height: 52px;
  text-align: center;

  color: #FFFFFF;

  opacity: 0.1;
  transform: rotate(-90deg) translate(0%, -50%);
  top: 50%;
  left: -8%;
  /* transform: translate(0%, -50%); */

}

.accriditation {
  background-image: url(img/accreditationbg.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.accriditation .container {
  padding-bottom: 104px;
}

.container {}

.wrapper-accriditation h2 {
  padding-top: 104px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 49px;
  margin-bottom: 43px;
  /* identical to box height */

  text-align: center;
}

.wrapper-accriditation img {
  /* background: url(2_5370620011079541856-1.jpg); */
  filter: drop-shadow(5px 5px 22px rgba(0, 0, 0, 0.2));
  border-radius: 20px;
  width: 922px;
  height: 652px;
  /* transition: all .5s ease; */
  transition: all .5s ease;

}


.img-accriditation img:hover {
  transform: scale(1.3);
}

.wrapper-accriditation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.call-aplication {
  background-image: url(img/bgCallAplication.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.call-aplication .container {
  padding: 207px 10px;
}

.wrapper-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 500px;
  background: #FFFFFF;
  box-shadow: 0px 30px 71px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.wrapper-call-aplication {
  padding: 30px;
  width: 582.51px;
  height: 484.64px;
  background: #FFFFFF;
  box-shadow: 0px 30px 71px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

.wrapper-call-aplication h2 {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  margin: 15px 0 10px 0;
}

.wrapper-call-aplication p {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 34px;
  /* identical to box height */

  text-align: center;
}

.wrapper-call-aplication input {
  background: #FFFFFF;
  box-shadow: inset 0px 0px 23px rgba(0, 0, 0, 0.1);
  border-radius: 20px 0px 20px 20px;
  width: 100%;
  height: 84px;
  margin-bottom: 14px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  padding-left: 30px;
}

.wrapper-call-aplication input[type=submit] {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height */
  height: 83px;
  width: 100%;
  text-align: center;
  background: linear-gradient(180deg, #69B7FF 0%, #0C7FEA 100%);
  border-radius: 20px 0px 20px 20px;
  border: none;
  color: white;
  border-bottom: #0B65B7 5px solid;
  transition: all .5s ease;
  padding-left: 0;
}

.wrapper-call-aplication input[type=submit]:hover {
  transition: all .5s ease;
  border-bottom: #0B65B7 0px solid;
  box-shadow: 5px 5px 30px rgba(57, 154, 244, 0.8);
}

.footer {
  background-image: url(img/bgfooter.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer .container {
  padding: 125px 10px;
}

.wrapper-footer,
.wrapper-footer a {
  color: white;
}

.wrapper-footer h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 49px;
  margin-bottom: 47px;
}

.wrapper-footer h3 {

  font-family: 'Muller';
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 13px;
}

.wrapper-footer p {

  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 27px;
}

.wrapper-footer p:nth-child(4) {
  margin-bottom: 25px;
}

.wrapper-footer p:nth-child(7) {
  margin-bottom: 25px;
}

.footer iframe {
  position: absolute;
  right: 0;
}

.menu-burger {
  font-size: 46px;
  color: var(--bodyTxt);
  display: none;
  position: relative;
  z-index: 120;
}

.background-item {
  display: flex;
  justify-content: center;

}

.background-item p {

  position: absolute;
  bottom: 7px;
  /* margin: 0 auto; */
  /* width: 100%; */
  /* left: 50%; */
  /* transform: translate(-50%, 0%); */
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height */
  margin-bottom: 0;

  color: #FFFFFF;
}

.mapMobile {
  display: none;
}

.menu-nav-burger {
  padding-top: 120px;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: -47px; */
  left: 100vw;
  transition: all 1s ease;
}

.menu-nav-burger a {
  font-size: 24px;
  padding: 10px 20px;
  border-radius: 20px 0px 20px 20px;
  transition: all .5s linear;
}

.menu-nav-burger a:hover {
  color: white;
  background: linear-gradient(180deg, #69B7FF 0%, #0C7FEA 100%);
  box-shadow: 5px 5px 15px rgba(57, 154, 244, 0.47);
}

.menu-nav-burger a:nth-last-child(1) {
  padding: 10px;
  border-radius: 20px;
}

.menu-nav-burger a:nth-last-child(1) {
  /* color: white; */
  background: none;
  box-shadow: none;
}

.menu-nav-burger__active {
  left: 0;
}

@media(max-width:1920px) {
  .wrapper-main-window {

    background-position: right 199px bottom 0%;

  }

  .image-oCompanii {

    right: -21px;
  }

  .vertical-text {

    left: -9%;
  }

  .footer iframe {
    width: 50%;

  }
}

@media(max-width:1440px) {
  .bgwoman {

    height: 89%;

  }

  .image-oCompanii {
    right: -683px;
  }

  .vertical-text {
    left: -9%;
  }

  .oCompanii-column-left p {

    font-size: 22px;

  }

  .map,
  .map iframe {
    width: 740px;
  }

  .wrapper-main-window {

    background-position: right -5px bottom 0%;

  }
}


@media(max-width:1400px) {
  .vertical-text {

    left: -10%;
  }

  .bgwoman {
    height: 87%;
  }
}

@media(max-width:1366px) {
  .bgwoman {
    height: 81%;
  }



  .vertical-text {
    left: -12%;
  }

  .wrapper-accriditation img {

    width: 100%;
    height: auto;
  }

  .image-oCompanii {
    right: -693px;
  }

  .call-aplication .container {
    display: flex;
    justify-content: flex-end;
  }
}

@media(max-width:1280px) {
  .wrapper-main-window {
    background-position: right -65px bottom 0%;
  }

  .bgwoman {
    height: 67%;
  }

  .vertical-text {
    left: -15%;
  }

  .oCompanii-column-left p {
    font-size: 20px;
  }
}

@media(max-width:1194px) {
  .wrapper-main-window {
    background-position: right -120px bottom 0%;
  }

  .bgwoman {
    height: 75%;
  }

  .vertical-text {
    display: none;
  }

  .image-oCompanii {
    right: -398px;
  }

  .oCompanii-column-left h2 {

    padding-top: 44px;

  }

  .oCompanii-column-left {

    padding-bottom: 50px;
  }

  .call-aplication .container {
    display: flex;
    padding: 240px 10px;
    justify-content: flex-end;
  }
}

@media(max-width:1180px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .bgwoman {
    height: 62%;
  }

  /* .main-window-text {
    padding-left: 10px;
  } */
}

@media(max-width:1080px) {
  .wrapper-header {
    justify-content: space-around;
  }

  .wrapper-list-services-items {

    grid-template-columns: repeat(2, 1fr);

  }

  .services-item {
    width: 400px;
    height: 400px;

  }

  .wrapper-list-services-items {

    justify-items: center;
  }

  .wrapper-list-services-items {
    grid-template-columns: repeat(2, 400px);
  }

  .wrapper-list-services {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bgwoman {
    height: 60%;
  }

  /* .orderWork-item {

    padding-right: 10px;
  } */

  .map,
  .map iframe {
    width: 600px;
  }

  .image-oCompanii {
    right: -532px;
  }

  .sity-name {
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
  }
}

@media(max-width:1024px) {
  .wrapper-main-window {
    height: 100%;
  }

  .main-window {
    height: 600px;
  }

  .main-window-text {

    top: 15%;
    transform: translate(0, 0%);

  }

  .advantages__text p {
    font-size: 12px;
  }

  .bgitem1 {
    width: 30%;

  }

  .bgwoman {
    height: 56%;
  }

  .sity-item a:nth-child(2) {
    width: 315px;
  }

  .image-oCompanii {
    display: none;
  }

  .oCompanii-column-left p {

    line-height: normal;

  }

  .oCompanii-column-left {
    width: 100%;
  }

  .oCompanii-column-left {
    padding-bottom: 104px;
  }

  .oCompanii-column-left h2 {
    padding-top: 104px;
  }
}

@media(max-width:932px) {
  .slogan {
    display: none;
  }

  .main-window-text h1 {

    font-size: 32px;
    width: 60%;
  }

  .price {

    font-size: 33px;

    width: 200px;
    height: 45px;

  }

  .main-window-text p {
    font-size: 32px;

  }

  .btnCall {

    width: 305px;
    height: 52px;
  }

  .btnCall img {
    width: 23%;
  }

  .btnCall p {
    font-size: 16px;
  }

  .wrapper-main-window {
    height: 100%;
  }


  .wrapper-main-window {
    background-position: right -46px bottom 0%;
  }

  .advantages__icon {

    height: 100px;
    width: 100px;
  }

  .wrapper-callMe {

    width: 500px;

  }

  .bgwoman {
    height: 54%;
  }

  .map,
  .map iframe {
    width: 500px;
  }
}

@media(max-width:926px) {}

@media(max-width:915px) {
  .main-window-text {
    top: 32%;
  }

  .main-window {
    height: 400px;
  }
}

@media(max-width:900px) {}

@media(max-width:896px) {

  .advantages__item,
  .advantages__text {

    height: 130px;

  }

  .map,
  .map iframe {
    width: 50%;
  }

}

@media(max-width:876px) {
  .main-window-text {
    top: 8%;
  }
}

@media(max-width:854px) {
  .menu-nav {
    display: none;
  }

  .menu-burger {
    display: block;
  }

  .main-window-text span {
    width: 60%;

  }

  .main-window {
    height: calc(100vh - 0px);
  }

  .main-window-text h1 {
    margin-top: 55px;
  }



  .main-window {

    height: 500px;
  }

  .bgwoman {
    height: 44%;
  }
}

@media(max-width:844px) {}

@media(max-width:834px) {
  .wrapper-advantages-items {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .advantages__item,
  .advantages__text {
    height: 148px;
  }

  .advantages__icon {

    height: 116px;
    width: 116px;

  }

  .advantages__item {

    width: 70%;
  }

  .advantages__item {
    margin-bottom: 35px;
  }

  .advantages__text p:nth-child(1) {
    font-size: 34px;
  }


  .advantages__text p {
    width: 75%;
    font-size: 22px;

  }

  .wrapper-list-services-items {
    grid-template-columns: repeat(2, 1fr);
  }

  .services-item {
    width: 300px;
    height: 300px;
  }

  .wrapper-advantages {
    padding-bottom: 75px;
  }
}

@media(max-width:825px) {
  .main-window-text {

    transform: translate(0, 0%);

  }

  .bgwoman {
    width: 75%;
    height: 40%;
  }
}

@media(max-width:820px) {
  .main-window-text {
    top: 10%;
  }

  /* .orderWortTitle {

    font-size: 16px;
  } */
}

@media(max-width:812px) {
  .main-window-text {
    margin-top: 70px;
  }
}

@media(max-width:810px) {}

@media(max-width:800px) {
  .main-window-text {
    top: 9%;
  }

  .bgitem1 {
    width: 26%;
  }

  .map {
    display: none;
  }

  .wrapper-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mapMobile {
    display: block;
    padding: 20px;
    width: 100%;
    position: relative;
  }

  .footer .container {
    padding: 104px 10px;
  }

  .wrapper-footer {

    text-align: center;
  }
}

@media(max-width:780px) {
  .bgwoman {
    width: 74%;
    height: 38%;
  }
}

@media(max-width:768px) {
  .main-window-text h1 {
    width: 50%;
  }
}

@media(max-width:736px) {
  .main-window-text span {
    width: 46%;
  }

  .advantages__icon {

    left: -25px;

  }

  .bgwoman {
    height: 40%;
  }
}

@media(max-width:667px) {
  .wrapper-main-window {
    background-position: right -74px bottom 0%;

  }

  .main-window-text h1 {
    width: 44%;
  }

  .bgitem1 {

    margin-top: 5px;
  }

  .bgwoman {
    display: none;
  }
}

@media(max-width:568px) {
  .btn {
    display: none;
  }

  .wrapper-main-window {
    background-image: none;
  }

  .main-window-text h1 {
    width: 100%;
  }

  .advantages__item {
    width: 95%;
    padding-left: 20px;
  }

  .advantages__icon {
    left: 10px;
  }

  .advantages__icon {
    left: -7px;
  }

  .services-item {
    width: 250px;
    height: 250px;
  }

  .wrapper-callMe {
    width: 100%;
  }

  .sity-item a:nth-child(2) {
    width: calc(100% - 97px);
  }

  /* .orderWork-item {

    height: 280px;

  } */

  /* .orderWork-item {

    position: relative;
  } */

  /* .orderWork-item {
    align-items: normal;
  } */

  /* .application {
    position: absolute;
    bottom: 0;
    right: 0;
  } */

  /* .orderWork-item:nth-child(1) {
    border-radius: 20px 20px 30px 20px;
  } */

  /* .orderWortTitle {
    font-size: 30px;
  } */

  .wrapper-wrapper {

    width: 100%;
    padding: 10px;

  }

  .callMe .container {
    padding: 135px 10px;
  }

  .orderwork1img {
    display: none;
  }

  .call-aplication .container {
    padding: 104px 10px;
  }

  .call-aplication {
    background-image: none;
  }

  .bgitem2 {
    display: none;
  }

  .main-window-text span {

    line-height: 20px;

  }

  .main-window-text {

    align-items: center;
  }

  .main-window-text h1 {
    width: 84%;
    text-align: center;
  }

  .main-window-text p {
    text-align: center;
  }

  .main-window-text span {
    text-align: center;
  }

  .orderWork-item {
    position: relative;
    height: auto;
    padding: 42px 16px 33px 16px;
    margin-bottom: 45px;
    justify-content: center;
    text-align: center;
  }

  .orderWork-item::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    width: 185px;
    height: 3.5px;
    background: linear-gradient(180deg, #69B7FF 0%, #0C7FEA 100%);
    border-radius: 0px 0px 41.9713px 41.9713px;
    transform: rotate(-180deg);
  }

  .orderWork-item:nth-last-child(1) {

    margin-bottom: 0px;
  }

  .orderWork-item:nth-child(1) {

    margin-bottom: 67px;
  }

  .orderWortTitle {

    font-weight: 600;

  }

  .wrapper-orderWork-items {
    padding: 0 10px;
  }

  .ordeWorkNumber {
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    top: -25px;
    width: 50px;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
  }

  .application {
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    bottom: -25px;
    height: 50px;

  }

  .main-window-text p:nth-last-child(1) {
    text-align: left;
  }
}

@media(max-width:480px) {
  .wrapper-list-services-items {
    grid-template-columns: repeat(1, 1fr);
  }

  .services-item {
    width: 100%;
    height: 310px;
  }

  /* .ordeWorkNumber {

    margin-right: 5px;
  } */

  /* .orderWortTitle {
    font-size: 25px;
  } */

  .wrapper-orderWork h2 {
    font-size: 35px;
  }

  .bgitem1 {
    display: none;
  }

  .wrapper-services-item p {
    justify-content: center;
  }

  .advantages__text {
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .advantages__text {

    border-radius: 50px 0px 50px 50px;

  }

  .advantages__text p {
    width: 70%;
    font-size: 16px;
  }

  .advantages__item,
  .advantages__text {
    height: auto;
  }

  .advantages__icon {
    height: 90px;
    width: 90px;
  }

  .advantages__icon img {
    height: auto;
    width: 70%;
  }
}

@media(max-width:430px) {
  .main-window-text {
    top: 0%;
  }

  .advantages__text p:nth-child(1) {
    font-size: 26px;
  }



  .wrapper-services-item p {

    font-size: 24px;

  }

  .sity-item a:nth-child(1) {
    width: 60px;
  }

  .sity-item a {

    height: 60px;

  }

  .sity-item a:nth-child(2) {
    width: calc(100% - 70px);
  }

  /* .orderWortTitle {
    padding-top: 10px;
  } */

  /* .orderWork-item:nth-child(1) .orderWortTitle {
    padding-bottom: 62px;
  } */

  /* .orderWortTitle {

    width: calc(100% - 115px);

  } */

  /* .ordeWorkNumber {
    width: 80px;
    height: 80px;

    line-height: 80px;

  } */

  .main-window-text span {
    width: 100%;
  }

  .main-window-text p {

    width: 100%;

  }

  .sity-name p {
    font-size: 14px;
  }
}

@media(max-width:428px) {
  .telephone {
    display: none;
  }

  .mobileWoman {
    content: '';
    height: 230px;
    background-image: url(img/bgCallAplication.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .wrapper-orderWork h2 {

    line-height: normal;

  }

  .orderWortTitle {

    font-size: 16px;
  }

  /* .orderWork-item {
    height: auto;
    padding: 10px;
  } */

  /* .ordeWorkNumber {
    margin-left: -10px;
    margin-top: -10px;
  } */
  .wrapper-call-aplication input,
  .wrapper-call-aplication input[type=submit] {

    height: 50px;

  }

  .wrapper-call-aplication {

    height: 380.64px;

  }

  .wrapper-wrapper {

    height: 400px;

  }
}

@media(max-width:414px) {
  .advantages__text {

    width: 100%;

  }

  .wrapper-advantages h2 {

    font-size: 40px;
    line-height: 40px;

  }

  /* .orderWork-item {
    height: auto;
  } */

  .wrapper-services-item p {
    font-size: 28px;
    text-align: center;
  }
}

@media(max-width:412px) {}

@media(max-width:393px) {
  .advantages__text p:nth-child(1) {
    font-size: 22px;
  }

  .advantages__text p {
    font-size: 16px;
  }

  .sity-name p {
    font-size: 14px;
  }
}

@media(max-width:390px) {
  .advantages__icon {
    left: -12px;
  }
}

@media(max-width:384px) {}

@media(max-width:375px) {
  .sity-name {
    flex-direction: column;
  }
}

@media(max-width:360px) {
  .advantages__icon {
    left: -14px;
  }

  .wrapper-accriditation h2 {

    font-size: 36px;

  }
}

@media(max-width:320px) {
  .wrapper-advantages h2 {
    font-size: 34px;
    line-height: 34px;
  }

  .advantages__text p {
    font-size: 14px;
  }

  .advantages__icon {
    height: 100px;
    width: 100px;
  }

  /* .orderWork-item {
    height: auto;
  } */
}